@import "./var.less";
@import "./mixins/fonts.less";

.fonts(@FFR, @FontWeightRegular);

// @import 'https://fonts.googleapis.com/css?family=Libre+Franklin';
@import './base.less';

#timeline-header {
  font-size: 26px;
}

@import './blocks/timeline.less';

.copy {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #aaa;
  font-size: 11px;

  > * {
    color: #444;
  }
}
